
Data/Raw/randhrs1992_2014v2_STATA/randhrs1992_2014v2.dta
Data/Raw/randhrs1992_2014v2_STATA/randhrs1992_2014v2.zip
Data/Raw/randhrs2000_2014v2.dta
Data Documentation/~$RANDHRS_Full_Presentation_20180529_Final.pptx
